@font-face {
	font-family: 'DigiFont';
	src: url('/font/DigimonBasic.ttf'); /* IE9 Compat Modes */
}

html {
	font-family: 'DigiFont', sans-serif;
}

* {
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}

.main {
	height: 100%;
}

.main .grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	/* padding: 50px; */
	height: 100vh;
}

.main .digi-card img{
	width: 200px;
}

.main .digi-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main .pagination {
	position: absolute;
	bottom: 0;
	right: 10px;
	margin: 0 auto;
}

.main .pagination ul {
	padding: 15px;
	display: flex;
	gap: 10px;
	margin: 10px;
}

.main .pagination ul li {
	padding: 8px 12px;
	background-color: blueviolet;
	border-radius: 5%;
}

.main .pagination ul li:hover {
  cursor: pointer;
  opacity: .9;
}

.main .pagination ul li.active {
	background-color: aqua;
}

.main .pagination ul li.disabled {
	pointer-events: none;
	background-color: gray;
	color: #fff;
}
