@font-face {
	font-family: 'DigiFont';
	src: url('/font/DigimonBasic.ttf'); /* IE9 Compat Modes */
}

html {
	font-family: 'DigiFont', sans-serif;
}

* {
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

.particles {
	position: absolute;
	top: 0;
	width: 100%;
	height: 90%;
}

.main {
	height: 100%;
	background-color: #22d3ee;
}

.main .grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	/* padding: 50px; */
	height: 100vh;
}

.main .digi-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	background-color:#111827;	
	z-index: 2;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.main .digi-card:hover {
	cursor: pointer;
	scale: (1,1);
	opacity: .9;

}

.main .digi-card .digi-title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: gold;
	overflow: hidden;
}

.main .digi-card .digi-image img{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	width: 250px;
	height: 250px;
	min-width: 250px;
	max-width: 250px;
	min-height: 250px;
	max-height: 250px;
}

.main .digi-card h1{
	font-size: xx-large;
	color:#111827
}

.main .pagination {
	position: absolute;
	bottom: 0;
	right: 10px;
	margin: 0 auto;
}

.main .pagination ul {
	padding: 15px;
	display: flex;
	gap: 10px;
	margin: 10px;
}

.main .pagination ul li {
	padding: 8px 12px;
	background-color: blueviolet;
	border-radius: 5%;
}

.main .pagination ul li:hover {
  cursor: pointer;
  opacity: .9;
}

.main .pagination ul li.active {
	background-color: aqua;
}

.main .pagination ul li.disabled {
	pointer-events: none;
	background-color: gray;
	color: #fff;
}
